html{
margin: 0;
padding: 0;
width: 100%;
height: 100%;

}
body{
margin: 0;
max-width: 100%;
height: 100%;
}
/*mise en forme de la banniere*/
.top{
    justify-content: start;
    display: flex;
    background-color: blueviolet;
    max-width: 100%;
    text-align: center;
}
/*mise en forme du titre*/
.titre{
    margin-left: 50%;
    display: inline;
    font-size: 50px;
}
/*mise en forme du boutton retour*/
.btn-retour > a{
position: absolute;
text-decoration: none;
color:black;
font-size: 25px;
float: left;
margin-top: 10px;
margin-left: 10px;
}
.btn-retour > a:hover {
    opacity: 40%;
   
}

/*mise en formes du menu*/
.nav{
    text-align: center;
    max-width:100% ;
    max-height: 100%;
    margin-top: 100px;
    justify-content: center;
    display: flex;

}
.nav ul{
    list-style: none;
    display: inline-block;
    align-self: center;
    margin-right: -80px;

}

.nav ul li{

    margin: 30px;
    height:150px;
    width: 150px;
    border: 3px solid black;
}
/*mise en taille des images*/
.nav img{
    position: relative;
    width: 150px;
}

/*mise en forme des lien du site*/
.nav a {
    display: block;
    text-decoration:none;
    color: black;
}
/*mise en plave de lien parametre*/
#index{
    position: absolute;
    z-index: 10;
    margin-top: 110px;
    margin-left: 20px;
    font-weight: bold;
    font-size: 25px;
}

.nav li :hover #index{
    color:red;
    margin-top: 50px;
    margin-left: 5px;
    font-size: 30px;

}
/*mise en place du lien raccourci clavier*/
#index-2{
    position: absolute;
    z-index: 10;
    margin-top:90px;
    margin-left: 20px;
    font-weight: bold;
    font-size: 25px;
}
.nav li :hover #index-2{
    color:red;
    margin-top: 40px;
    margin-left: 10px;
    font-size: 30px;
}
/*mise en place du lien apparence*/
#index-3{
    position: absolute;
    z-index: 10;
    margin-top: 110px;
    margin-left: 20px;
    font-weight: bold;
    font-size: 25px;
}
.nav li :hover #index-3{
    color:red;
    margin-top: 50px;
    margin-left: 5px;
    font-size: 30px;
}

/*mise en place du lien logiciel*/
#index-4{
    position: absolute;
    z-index: 10;
    margin-top: 110px;
    margin-left: 30px;
    font-weight: bold;
    font-size: 25px;
}
.nav li :hover #index-4{
    color:red;
    margin-top: 50px;
    margin-left: 20px;
    font-size: 30px;
}

/*mise en place de la rotation des image*/
.nav li :hover #img-rotate{
    animation-name:rotate ;
    animation-duration: 3s ;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
        opacity: 0;
    }
    to {
        transform: rotate(360deg);
        opacity: 30;
    }
}



