html{
margin: 0;
padding: 0;
max-width: 100%;
max-height: 100%;

}
body{
margin: 0;
width: 100%;
}

.top{
    background-color: blueviolet;
    width: 100%;
    text-align: center;
}

.titre{
    display: inline;
    font-size: 45px;
}

.btn-retour{
display: block;
text-align: left;
padding-top: 20px;
padding-left: 25px;

}


.btn-retour > a{
text-decoration: none;
color:black;
font-size: 25px;


}
.btn-retour > a:hover {
    opacity: 40%;
   
}

.nav{
    text-align: center;
    width:100% ;
}
.nav ul{
    display: inline-flex;
    list-style: none;

}

.nav ul li{
    margin: 50px;
    max-height:100px;
    width: 150px;
    border: 3px solid black;
}

.nav a {
    display: block;
    text-decoration:none;
    color: black;
    width:25%;
}

#index{
    position: absolute;
    z-index: 10;
    margin-top: 75px;
    margin-left: 10px;
    font-weight: bold;
    font-size: 20px;
}

#index-2{
    position: absolute;
    z-index: 10;
    margin-top: 55px;
    margin-left: 10px;
    font-weight: bold;
    font-size: 20px;
}

.nav a :hover #index{
    color:red;
    margin-top: 35px;
    margin-left: -5px;
    font-size: 25px;
}

.nav a :hover #index-2{
    color:red;
    margin-top: 30px;
    margin-left: -5px;
    font-size: 25px;
}

.nav img{
    position: relative;
    width: 100px;
}

