html{
    margin: 0;
    padding: 0;
    max-width:100%;
    height: 100%;
}
body{
    margin: 0;
    max-width: 100%;
    height: 100%;
}
/*position du titre*/
.titre{
    display: block;
    font-size: 40px;
    margin-left: 40%;
    padding: 0px;
}
/*boutton retour */
.btn-retour > a{
    position: absolute;
    text-decoration: none;
    color:black;
    font-size: 35px;
    margin-top: 0px;
    margin-left: 20px;
}
/*disparition "menu" puis apparition*/
#visible{
    visibility: hidden;
    font-size: 20px;
}
.btn-retour :hover #visible{
    visibility: visible;
    z-index: -10;
}
/*apparrition "fleche" puis disparition*/
#fleche {
    display: block;
    visibility:visible;
}
.btn-retour:hover #fleche {
    visibility: hidden;
    position: absolute;
}
/*disposition colone du menu */
#content{
    display: flex;
    justify-content: center;
}
.nav{
    display: inline-block;
    align-self: center;
    margin-top: 0px;
    
}
.nav ul{
    align-self: center;
    display: block;
    max-width: 50%;
    margin: 0;
}
/*taille btn*/
.nav ul li{
    width: 100px;
    height: 100px;
}
/*taille img*/
.nav img{
    width:100px ;
}

#index{
    font-size: 15px;
    margin-left: 18px;
    margin-top: 40px
}
.nav li :hover #index{
    font-size: 20px;
    margin-left: 5px;
    margin-top: 40px
}

/*index-2*/

#index-2{
    font-size: 15px;
    margin-left: 18px;
    margin-top: 40px
}
.nav li :hover #index-2{
    font-size: 20px;
    margin-left: 5px;
    margin-top: 30px
}
/*index-3*/
#index-3{
    font-size: 15px;
    margin-left: 18px;
    margin-top: 40px
}
.nav li :hover #index-3{
    font-size: 20px;
    margin-left: 5px;
    margin-top: 40px
}
/*index-4*/
#index-4{
    font-size: 15px;
    margin-top: 40px
}
.nav li :hover #index-4{
    font-size: 20px;
    margin-left: 15px;
    margin-top: 40px
}